---
type Props = {};

const {} = Astro.props;
---

<div class="container">
  <div class="seccion-titulo">
    <span class="span"> <a>HOLA A TODOS</a><div class="linea"></div></span>
    <h1 class="titulo">bienvenidos</h1>
    <h1 class="subtitulo">a mi portfolio</h1>
  </div>
  <div class="perfil">
    <img
      class="img-perfil"
      src="../img/FotoPerfil.png"
      alt="Foto de perfil"
    />
    <div class="shadow bottom"></div>
  </div>
</div>

<style>
  .container {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: max-content;
    margin-top: 75px;
  }

  .perfil {
    position: relative; /* Agregamos posición relativa para que la sombra sea absoluta respecto a este contenedor */
    margin-right: 20px;
  }

  .img-perfil {
    width: 100%;
    max-width: 480px;
    height: 480px;
    z-index: 2; /* Aseguramos que la imagen esté por encima de la sombra */
  }

  .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta la altura de la sombra según tus necesidades */
    background: linear-gradient(
      180deg,
      rgba(0, 2, 18, 0) 0%,
      #1a1a1a 91.15%
    );
    z-index: 1; /* Aseguramos que la sombra esté detrás de la imagen */
  }

  .seccion-titulo {
    display: grid;
    align-items: start;
    margin-left: 20px;
  }

  a {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #b8ec4c;
    display: block;
  }

  h1.subtitulo {
    display: block;
    font-family: "Outfit", serif;
    font-size: 4rem;
    font-weight: 300;
    color: #fcfcfc;
    margin-left: 20px;
    margin-top: 0rem;
  }

  h1.titulo {
    font-family: "Outfit", serif;
    font-size: 4rem;
    font-weight: 300;
    color: #b8ec4c;
    display: block;
    margin: 0rem;
  }

  .linea {
    height: 2.5px;
    width: 100%;
    max-width: 450px;
    background-color: #b8ec4c;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
      padding: 20px;
    }

    .perfil {
      margin-right: 0;
    }

    .img-perfil {
      max-width: 100%;
      height: auto;
    }

    .seccion-titulo {
      margin-left: 0;
    }

    .linea {
      margin-bottom: 10px;
    }
  }
</style>