---
---
<div class="opcion1 proyectos">
    <h2 class="detalles">Proyecto web "CINEPICO"</h2>
    <p class="fecha">MAR 2023 - AGO 2023 · Full Time</p>
    <span class="badge"> Obligatorio</span>
    <div class="linea"></div>
    <p class="descripcion">
      Pagina web para reservas de un cine con múltiples necesidades,
      desarrollada en c#(.NET) base de datos en SQL Server, utilizando
      Entity Framework.
    </p>
  </div>
  <div class="opcion1 proyectos">
    <h2 class="detalles">Proyecto frontend "KAYAK"</h2>
    <p class="fecha">MAR 2023 - AGO 2023 · Full Time</p>
    <span class="badge"> Obligatorio</span>
    <div class="linea"></div>
    <p class="descripcion">
      Pagina web para gestion de eventos y lugares para practicar Kayak. Desarrollado en react, utilizando una api en AWS.
    </p>
  </div>
  <div class="opcion1 proyectos">
    <h2 class="detalles">Proyecto fullstack "Tricoma Electro"</h2>
    <p class="fecha">OCT 2023 - DIC 2023 · Full Time</p>
    <span class="badge"> Obligatorio</span>
    <div class="linea"></div>
    <p class="descripcion">
      Ecommerce para ventas de electrodomesticos. Desarrollado el backend en spring boot y frontend en react.
    </p>
  </div>
  <div class="opcion1 proyectos">
    <h2 class="detalles">Pagina Web Reposteria "Cake byFlor"</h2>
    <p class="fecha">NOV 2023 - ACT. · Tiempo Libre</p>
    <span class="badge"> Obligatorio</span>
    <div class="linea"></div>
    <p class="descripcion">
      Pagina web para mostrar productos de pastelería artesanal. Desarrollado en React y NextJs.
    </p>
</div>
<style>
 h2.detalles {
    font-family: "PlusJakartaSans", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #b8ec4c;
  }
  p.fecha {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
  }
  p.descripcion {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-right: 50px;
  }
  span.badge {
    background-color: #f0fff4;
    color: #2f855a;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 0.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 0.25rem;
  }
  .linea {
    height: 2.5px;
    width: 100%;
    max-width: 700px;
    background-color: #b8ec4c;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .icon {
    width: 130px;
    height: 130px;
    fill: #1dc02a;
  }
  .proyectos {
    margin-bottom: 30px;
  }
</style>