---
import LineaTiempo from "./LineaTiempo.astro";
---

<div class="contenido">
  <div class="seccion-izquierda">
    <div class="seccion-titulo">
      <h1 class="subtitulo">ESTUDIO/CURSOS</h1>
      <h2 class="titulo">Educación</h2>
    </div>
    <div class="seccion-linea">
      <LineaTiempo />
    </div>
  </div>
  <div class="seccion-derecha">
    <p>
      Mas de 2 años de experiencia aprendiendo diferentes tecnologías dentro de
      la programación. Principalmente habilidades para la carrera de Analista
      Programador.
    </p>
  </div>
</div>

<style>
  .contenido {
    display: grid;
    width: 100%;
    min-height: auto; /* Cambiado a auto para adaptarse mejor a diferentes tamaños de pantalla */
    background-color: #1a1a1a;
    box-sizing: border-box;
    padding-top: 150px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    border-bottom: 1px solid #272829;
  }
  .seccion-izquierda {
    display: grid;
    align-items: start;
    margin-left: 10px; /* Ajuste para un mejor espacio en pantallas pequeñas */
    width: 100%; /* Ajuste para ocupar el ancho completo en pantallas pequeñas */
    justify-items: start;
  }
  .seccion-derecha {
    display: grid;
    margin-top: 20px; /* Ajuste para un mejor espacio en pantallas pequeñas */
    width: 100%; /* Ajuste para ocupar el ancho completo en pantallas pequeñas */
    justify-items: center;
  }
  .seccion-titulo {
    display: grid;
    align-items: start;
    margin-left: 10px; /* Ajuste para un mejor espacio en pantallas pequeñas */
    width: 100%; /* Ajuste para ocupar el ancho completo en pantallas pequeñas */
    justify-items: center;
  }

  .subtitulo {
    width: max-content;
    height: max-content;
    margin: 0;
  }
  .titulo {
    width: max-content;
    height: max-content;
    margin: 0;
  }
  h1 {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 1.5rem; /* Ajuste para pantallas pequeñas */
    letter-spacing: 2px; /* Ajuste para pantallas pequeñas */
    color: #ffffff;
  }
  h2 {
    font-family: "PlusJakartaSans", serif;
    font-weight: 700;
    font-size: 3rem; /* Ajuste para pantallas pequeñas */
    color: #b8ec4c;
  }
  p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 1.2rem; /* Ajuste para pantallas pequeñas */
    color: white;
    text-align: justify; /* Ajuste para pantallas pequeñas */
    padding: 0 20px; /* Ajuste para pantallas pequeñas */
  }

  @media screen and (max-width: 768px) {
    .contenido {
      grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas más pequeñas */
      padding-top: 100px; /* Ajuste de espacio superior */
    }
  }
</style>
