---

---
<div class="container">
    <h1>FOOTER EN PROGRESO..... ya se viene</h1>
</div>

<style>
.container{
    background-color: rgb(0, 0, 0);
    height: 150px;
    align-content: center;
    justify-content: space-around;
}
h1{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
</style>