<!-- <div class="skills">
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <span class="skills__name">C#</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <span class="skills__name">.NetCore</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <span class="skills__name">TypeScript</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <span class="skills__name">Angular</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <span class="skills__name">Bootstrap</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <span class="skills__name">CSS</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <span class="skills__name">HTML</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <span class="skills__name">JavaScript</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <span class="skills__name">Git</span>
      </div>
      <div class="grid-item">
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <span class="skills__name">Astro</span>
      </div>
  </div> -->
  <style>
    .grid-item {
    background: #c1c2bf;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skills__img {
    margin-bottom: 5px;
  }

  .skills__name {
    margin: 0 1rem;
    font-size: 20px;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 5rem 15rem;
    @media (min-width: 700px) {
      grid-template-columns: repeat(12, 1fr);
    }
    @media (min-width: 600px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  </style>