---

---

<div class="opcion1 proyectos">
  <h2 class="detalles">Desarrollador Full Stack - Visoft</h2>
  <p class="fecha">Abril 2024 - Marzo 2025. · Tiempo Completo</p>
  <span class="badge"> Carrera/Laboral</span>
  <div class="linea"></div>
  <p class="descripcion">
    Participé activamente en la recopilación de requerimientos, manteniendo
    contacto directo con representantes de una cooperativa real para entender
    sus necesidades y problemáticas. Me encargué del desarrollo del sistema,
    tanto en el frontend como en el backend, aplicando buenas prácticas de
    desarrollo y arquitectura. Lideré la comunicación con el cliente durante
    todo el proceso, asegurando entregas funcionales y recibiendo feedback
    constante. Colaboré en tareas de marketing y difusión del producto, buscando
    posicionarlo como una herramienta útil para cooperativas similares.
  </p>
</div>
<div class="opcion1 proyectos">
  <h2 class="detalles">Desarrollador Full Stack - 2hSoftware</h2>
  <p class="fecha">Agosto 2025 - Actualidad. · Tiempo Completo</p>
  <span class="badge"> Laboral</span>
  <div class="linea"></div>
  <p class="descripcion">
   Desarrollador full stack. 
   Utilizando tecnologias como: Angular, Java,C#, Spring Boot, AWS Lambda, Azure Functions, entre otras.
  </p>
</div>
<style>
  h2.detalles {
    font-family: "PlusJakartaSans", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #b8ec4c;
  }
  p.fecha {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
  }
  p.descripcion {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-right: 50px;
  }
  span.badge {
    background-color: #f0fff4;
    color: #2f855a;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 0.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 0.25rem;
  }
  .linea {
    height: 2.5px;
    width: 100%;
    max-width: 700px;
    background-color: #b8ec4c;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .icon {
    width: 130px;
    height: 130px;
    fill: #1dc02a;
  }
  .proyectos {
    margin-bottom: 30px;
  }
</style>
