---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className || ''}`}
>
  <slot />
</section>

<style>
  .section {
    width: 100%;
    display: block;
  }

  /* Solo para la primera sección (Banner) */
  .section:first-child {
    min-height: 100vh;
  }
</style>


