---

---

<div class="caja" data-astro-cid-w2mjs7qc="">
  <div class="marquee-wrapper" data-astro-cid-w2mjs7qc="">
    <div class="shadow left" data-astro-cid-w2mjs7qc=""></div><div
      class="shadow right"
      data-astro-cid-w2mjs7qc=""
    >
    </div>
    <div class="marquee-block" data-astro-cid-w2mjs7qc="">
      <div class="marquee-inner to-left" data-astro-cid-w2mjs7qc="">
        <span data-astro-cid-w2mjs7qc=""
          ><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div></span
        ><span data-astro-cid-w2mjs7qc=""
          ><div class="shadow-right" data-astro-cid-w2mjs7qc=""></div><div
            class="marquee-item"
            data-astro-cid-w2mjs7qc=""
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original-wordmark.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div></span
        >
      </div>
    </div><div class="marquee-block" data-astro-cid-w2mjs7qc="">
      <div class="marquee-inner to-right" data-astro-cid-w2mjs7qc="">
        <div class="marquee-item" data-astro-cid-w2mjs7qc="">
          <span data-astro-cid-w2mjs7qc=""
            ><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original-wordmark.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            /></span
          >
        </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"
            alt=""
            data-astro-cid-w2mjs7qc=""
          />
        </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-original-wordmark.svg"
            alt=""
            data-astro-cid-w2mjs7qc=""
          />
        </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
            alt=""
            data-astro-cid-w2mjs7qc=""
          />
        </div>
        <span data-astro-cid-w2mjs7qc=""
          ><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div><div class="marquee-item" data-astro-cid-w2mjs7qc="">
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
              alt=""
              data-astro-cid-w2mjs7qc=""
            />
          </div></span
        >
      </div>
    </div>
  </div>
</div>
<style>
  .caja[data-astro-cid-w2mjs7qc] {
    grid-column: 1/5;
    overflow: hidden;
    width: 100dvw;
  }
  .marquee-wrapper[data-astro-cid-w2mjs7qc] {
    max-width: 1000px;
    height: 500px;
    border-radius: 16px;
    background: transparent;
    text-align: center;
    position: relative;
  }

  .shadow[data-astro-cid-w2mjs7qc] {
    width: 100px;
    height: 100%;
    z-index: 2;
  }

  .left[data-astro-cid-w2mjs7qc] {
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, #1a1a1a 8.85%, rgba(0, 2, 18, 0) 100%);
    z-index: 80;
  }

  .right[data-astro-cid-w2mjs7qc] {
    position: absolute;
    right: 0;
    background: linear-gradient(-90deg, #1a1a1a 8.85%, rgba(0, 2, 18, 0) 100%);
    z-index: 80;
  }

  .marquee-inner[data-astro-cid-w2mjs7qc] span[data-astro-cid-w2mjs7qc] {
    float: left;
    width: 50%;
  }

  .marquee-wrapper[data-astro-cid-w2mjs7qc]
    .marquee-block[data-astro-cid-w2mjs7qc] {
    height: 150px;
    width: 1000px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background: transparent;
    padding: 0;
    z-index: 10;
  }

  .marquee-inner[data-astro-cid-w2mjs7qc] {
    display: block;
    width: 200%;
    position: absolute;
  }

  .marquee-inner[data-astro-cid-w2mjs7qc] p[data-astro-cid-w2mjs7qc] {
    font-weight: 800;
    font-size: 30px;
    font-family: cursive;
  }

  .marquee-inner[data-astro-cid-w2mjs7qc].to-left {
    animation: marqueeLeft 25s linear infinite;
  }

  .marquee-inner[data-astro-cid-w2mjs7qc].to-right {
    animation: marqueeRight 25s linear infinite;
  }

  .marquee-item[data-astro-cid-w2mjs7qc] {
    width: 230px;
    height: 130px;
    border-radius: 16px;
    margin: 10px;
    float: left;
    transition: all 0.2s ease-out;
    background: #c1c2bf;
    align-content: center;
  }
  .marquee-item[data-astro-cid-w2mjs7qc]:hover {
    transform: scale(1.1);
    background: #979494;
  }
  @keyframes marqueeLeft {
    0% {
      left: 0;
    }

    to {
      left: -100%;
    }
  }

  @keyframes marqueeRight {
    0% {
      left: -100%;
    }

    to {
      left: 0;
    }
  }

  @media (min-width: 680px) {
    .caja[data-astro-cid-w2mjs7qc] {
      grid-column: 1/9;
    }

    @media (min-width: 1100px) {
      .caja[data-astro-cid-w2mjs7qc] {
        all: unset;
      }
    }
  }
  img {
    width: 80px;
    height: 80px;
  }
</style>
