---
type Props = {};

const {} = Astro.props;
---

<div class="container">
  <div class="texto">
    <h1>Sobre Mí</h1>
    <p>
      Mi nombre es Alejo, soy Uruguayo, Analista programador y actualmente me
      encuentro en la etapa final de la carrera. Soy una persona proactiva que
      le gusta aprender nuevas habilidades y superarse constantemente.
    </p>
  </div>
</div>

<style>
  .container {
    display: flex;
    height: auto;
    background-color: #1a1a1a;
  }
  h1 {
    color: #e0e0e0;
    font-family: "Syne", serif;
    font-weight: 800;
    font-size: 3.5rem;
    margin-left: 100px;
  }
  p {
    color: #e0e0e0;
    font-family: "Syne", serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-inline: 100px;
  }
</style>
